.profile-wrap {
  width: 400px;
  height: auto;
  border: 2px solid #000000;
  border-radius: 8px;
  padding: 16px;
  margin: 0 auto;

}

.profile-info-wrap {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.profile-img {
  display: block;
  background-color: #3d3838;
  width: 50%;
  height: auto;
  border-radius: 50%;


}

.profile-name {}

.profile-text {}

.profile-list {
  list-style: none;
  display: flex;
  gap: 20px;
  background-color: #c9c1c1;
}

.profile-list-item {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}